header h1 {
background: url("top_image_2.png") left / auto 100% no-repeat, url("top_image_3.jpg") right / auto 100% no-repeat;
}

body {background: url("1619477565_20-phonoteka_org-p-svetlii-fon-biznes-21.jpg")}
.root {
font-size: larger;}

img.main-image {
width: 500рх;
}
img.additional-image {
width: 100px;
}
